#root {
  display: flex;
  min-width: fit-content;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth {
  overflow: hidden;
  background: url('./assets/background.png');
  background-repeat: no-repeat;

  .form {
    position: absolute;
    width: 520px;
    padding: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-shadow: 0px 0px 8px #b81ffd;
    border: 1px solid linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: linear-gradient(157.6deg, rgba(255, 255, 255, 0.16) 14.59%, rgba(255, 255, 255, 0.04) 85.41%);
    align-items: center;
    color: #ffffff;

    .logo svg {
      width: 82px;
    }

    .title {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }
    
    .text {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .btn {
      cursor: pointer;
      border: 1px solid #70707C;
      padding: 8px 20px 8px 24px;
      border-radius: 6px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      text-transform: capitalize;
      .label {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.009em;
      }
    }
  }
}



.header {
  background: #191932;
  height: 60px;
  padding: 0px 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo {
    .logo-2 {
      display:none ;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 58px;
    align-items: flex-start;
    height: 60px;

    .tab {
      display: flex;
      padding-top: 18px;
      align-items: flex-start;
      height: 42px;
      transition: all 0.5s;
      a {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.44px;
        text-align: center;
        color:  #6A6A9F;
        text-decoration: none;
      }
    }

    .tab:hover {
      height: 60px;
      a {
        color: white;
      }
      border-bottom: 3px solid #981BFB;
    }

    .tab.active {
      height: 60px;
      // border-top: 3px solid transparent;
      border-bottom: 3px solid #981BFB;
      a {
        color: #FFFFFF;
      }
    }
  }
  .menu-2 {
    display: none;
    position: relative;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .menu-2.active .submenu {
    display: flex;
  }

  .submenu {
    display: none;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 50px;
    flex-direction: column;
    border: 1px solid #717171;
    background: linear-gradient(0deg, #000000, #000000),linear-gradient(0deg, #717171, #717171);
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 240px;
    border-radius: 8px;
    gap: 15px;
    padding: 15px 20px;

    .tab {
      color: #FFFFFF;
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.75px;
      text-align: left;
      cursor: pointer;
      text-decoration: none;
    }
    .tab.active, .tab:hover {
      color: #7E40FF;
    }
  }
}

.main {
  background: linear-gradient(0deg, #05050F, #05050F),linear-gradient(0deg, #32324F, #32324F);
  height: calc(100% - 98px);
  padding: 24px 60px;
  .title {
    //styleName: Headline/H3;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.75px;
    color: white;
    margin-bottom: 10px;
  }

  .text {
    //styleName: Body / Body 1;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: white;
  }
}

.footer {
  background: linear-gradient(0deg, #05050F, #05050F),linear-gradient(0deg, #32324F, #32324F);
  height: 38px;
  padding: 0px 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }
  .text {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: #5A5A89;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;

  .title {
    //styleName: Headline/H3;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.75px;
    text-align: center;
    color: white;
    max-width: 948px;
  }

  .text {
    //styleName: Body / Body 1;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.44px;
    text-align: center;
    color: white;
    margin-bottom: 6px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
  }
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  height: 40px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  a {
    text-decoration: none;
    color: currentColor;
  }
}

.btn.report {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 60px;

  .table {
    .row:not(:first-of-type) {
      padding-top: 5px;
    }
    .row:not(:last-of-type) {
      padding-bottom: 5px;
      border-bottom: 1px solid #79797A;
    }
  }

  .detail, .date {
    color: #7B7A7A;
  }

  .date {
    display: none;
  }

  .historic {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    .btn-group {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .row {
      display: flex!important;
      .col:first-of-type {
        width: 140px;
      }
      .col:not(:first-of-type) {
        width: calc(14.28% - 20px);
      }
    }
  }

  .left {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-group-2 {
      display: none;
    }
    .card {
      margin-top: 12px;
      margin-bottom: 12px;
      background: #191932;
      display: flex;
      flex-direction: column;
      padding: 15px 30px;
      border-radius: 10px;
      width: 100%;

      ::-webkit-scrollbar {
        width: 0px;
      }
      .classic {
        padding: 10px 6px 0px;
        max-height: 330px;
        height: 330px;
        overflow: auto;
        
        a {
          text-decoration: none;
        }
        .row {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
        .text {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: nowrap;
          overflow: hidden;
          text-align: justify;
        }
      }
    }

    .card {
      .value {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 6px;
        .amount {
          //styleName: Headline / H6;
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: 0.15px;
          color: white;
        }
        .indicator {
          height: 26px;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.44px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2px;
          color: #ffffff;
          svg {
            fill: currentColor;
          }
        }

        .indicator.plus {
          color: #5EFF5A;
        }
        .indicator.minus {
          color: #FF2D2E;
          svg {
            transform: rotateZ(180deg);
          }
        }
      }

      .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .small {
        font-family: Open Sans;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.44px;
        text-align: left;
        .name {
          font-weight: 400;
        }
        .amount {
          font-weight: 700;
        }
      }

      .diagram {
        display: flex;
        height: 14px;
        border-radius: 8px;
        background-color: #000000;
        justify-self: flex-end;
      }
      .purple {
        background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      }
    }

    .chart {
      justify-content: space-between;
    }

    .card.primary {
      background: #7E40FF;
      
      .weeks {
        height: 100%;
        font-family: Open Sans;
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: -0.44px;
        text-align: center;
        display: flex;
        align-items: center;
        color: white;
      }
    }

    .card-group {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      
      .card-3 {
        padding: 20px 15px;
        width: calc(33.33% - 13.33px);
        
      }
      .card-2 {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 160px;
        margin-bottom: 0;

        .chart {
          display: flex;
          flex-direction: column;
          align-items: center;
          .ellipse1 {
            z-index: 10;
            transform: translateY(-20px);
          }
          .ellipse2 {
            position: absolute;
            transform: translateY(10px);
          }

          .ellipse3 {
            position: absolute;
            transform: translateY(4px);
          }

          .text {
            position: absolute;
            transform: translateY(60px);
          }
        }
      }
    }
  }

  .card.table, .card.chart {
    background: #191932;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    .card-footer {
      height: 40px;
    }
    .card-header {
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 24px;
      .card-title {
        //styleName: Text lg/Semibold;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: white;
      }
      .btn {
        cursor: pointer;
        height: 40px;
        padding: 10px 16px;
        border-radius: 8px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }

    .table-header {
      background: linear-gradient(0deg, #3D3D6B, #3D3D6B);
    }

    .row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      
      .col {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
      }

      .col:first-of-type {
        min-width: 100px!important;
      }
    }

    .table-row {
      height: 54px;
      .col {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      
      .crude {
        color: #981BFB;
      }

      .eia {
        color: #196BF8;
      }
    }
  }

  .right {
    // min-width: 1000px;
    width: calc(100% - 620px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card {
      .subtitle {
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.44px;
        color: white;
      }
    }

    .card.chart {
      margin-top: 40px;
      padding: 20px 28px;
      [id*="canvasjs-react-chart-container-"] {
        height: 260px!important;
      }
    }

  }
}

.btn.outline {
  background: #191932;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #981BFB;
}

.btn.primary {
  background: #981BFB;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #FFFFFF;
}

.btn.outline:hover {
  background: #32324F;
  color: #b81ffd;
}

.btn.primary:hover {
  color: #981BFB;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1250px) {
  .main-content {
    flex-direction: column;
    gap: 40px;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0px 40px;
    
    .menu {
      display: none;
    }
    .menu-2 {
      display: flex;

    }
  }

  .footer {
    padding: 0px 40px;
  }

  .main {
    padding: 18px 40px;
    .title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 672px) {
  .auth {
    background: url('./assets/mobile\ background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    .coursour {
      display: none;
    }
    .form {
      position: relative;
      width: calc(100% - 60px);
      max-width: 340px;
      padding: 20px;
      gap: 13px;
      .title {
        text-align: center;
      }
      .text {
        text-align: center;
      }
    }
  }

  .header {
    padding: 0px 20px;
    .logo {
      .logo-1 {
        display: none;
      }
      .logo-2 {
        display: block;
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .footer {
    padding: 20px;
    height: auto;
    align-items: flex-start;
    .left {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .btn.report {
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-flex;
    align-self: center;
  }

  .main {
    padding: 0px 20px;
    .title {
      font-size: 24px;
      line-height: 32px;
    }
    .main-content {
      .left {
        gap: 20px;
        .detail {
          display: none;
        }

        .date {
          display: flex;
        }
      
        .card-group-2 {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
        .card-group {
          display: none;
        }
        .card {
          margin: 0;
          padding: 20px;
          .recent {
            padding-left: 20px;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-content .left .card .classic .text {
    -webkit-line-clamp: 5;
  }

  .main-content .left .card-group-2 .card {
    .text {
      letter-spacing: -0.5px;
    }
    .value {
      .indicator {
        letter-spacing: -0.5px;
      }
    }
  }

  .content {
    align-items: flex-start;

    .title {
      text-align: left;
    }
    .text {
      text-align: left;
    }
  }
}